* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #eee;
}
body {
    max-width: 750px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 20px;
}
/* .head {
    background-color: aqua;
} */
.head>img {
    width: 100%;
    /* 设置图片距离盒子底部对齐 */
    vertical-align: bottom;  
}
.main {
    color: #fff;
}
.main>.section {
    display: flex;
    height: 100px;
    margin: 4px 2px 4px 2px;
    background-color:#FF5555;
}
.main>.section:nth-child(2) {
    background-color:#00a7f7;
}
.main>.section:nth-child(3) {
    background-color:#7cb832;
}
.main>.section>.col {
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 0%;*/
    flex: 1;
    text-align: center;
    border-left: 1px solid #fff;
    box-sizing:border-box;
}
.main>.section>.col:nth-child(1) {
    border-left: none;
}
.main>.section>.hasImg> p {
    margin: 15px 0;
}
.main>.section>.hasImg>img{
    width: 42px;
    height: 46px;
}
.main>.section>.col>div {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #fff;
    box-sizing:border-box;
}
.main>.section>.col>div:last-child {
    border-bottom: none;
}
.main>.section:last-child {
    background: #ff9900;
    height: 50px;
    line-height: 50px;
}

.nav {
    color: #666;
    background: #ccc;
    padding: 10px 0;
    font-size: 12px;
}
.nav>ul {
    display: flex;
    list-style-type: none;
    background: #fff;
}
.nav>ul>li {
    flex: 1;
    height: 70px;
    text-align: center;
}
.nav>ul>li>i {
    margin-top: 12px;
    display: inline-block;
    width: 33px;
    height: 33px;
    background: url('./../images/icons.png') no-repeat;
    background-position:-35px -12px;
}

.nav>ul>li>i:nth-child(2) {
    background-position:-124px -12px;
}

.nav>ul>li>i:nth-child(3) {
    background-position:-212px -12px;
}

.nav>ul>li>i:nth-child(4) {
    background-position:-300px -79px;
}
.guid {
    display: flex;
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}
.guid>div {
    flex: 1;
    height: 80px;
    text-align: center;
}

.guid>div>i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
}
.guid>div>p {
    margin-top: 10px;
}
.footer {
    height: 60px;
    line-height: 60px;
    background: #ccc;
}
.footer>p {
    float: left;
    margin-left: 50px;
}












